<section class="hero">
	<div class="hero__container">
		<div class="container hero__container-flex">
			<div class="hero__container-top">
				<picture>
					<source srcset="./img/logo.webp" type="image/webp" />
					<img
						loading="lazy"
						src="./img/logo.png"
						class="image hero__logo"
						width="280"
						height="181"
						alt="Логотип"
					/>
				</picture>
				<div class="hero__container-text">
					<p class="hero__job">Ведущий частных и деловых событий</p>
					<p class="hero__name">Андрей Шишков</p>
					<p class="hero__tel"><a href="tel:79123010002" class="hero__link">+7 912 301-00-02</a></p>
				</div>
			</div>
			<h1 class="hero__title">СКОРО ЗДЕСЬ БУДЕТ НОВЫЙ САЙТ</h1>
		</div>
	</div>
</section>
