:root {
	// base
	--font-family: "Prata", sans-serif;
	--content-width: 1596px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #000;
}
